
@{
    ViewData["Title"] = "Movies Import";
}

<form  method="post" asp-controller="Movies" asp-action="Import">
    <div class="input-group mt-5">
        <input type="number" name="ImportMovie" class="form-control" placeholder="Import Movie">        
        <button class="btn btn-outline-warning btn-sm ms-2" type="submit">Import</button>       
    </div>
</form>