@*tout Mathieu*@

@using MovieProNet6.Models.TMDB
@using MovieProNet6.Models.Database
@using MovieProNet6.Models.ViewModels
@model Movie

@{
    ViewData["Title"] = "Movies Import";
}

<form asp-controller="Movies" asp-action="SearchMyMovie">
    <div class="input-group mt-5">
        <input type="text" name="ImportMovie" class="form-control" placeholder="Import Movie">        
        <button class="btn btn-outline-warning btn-sm ms-2" type="submit">Import</button>       
    </div>
</form>



<p>@Model.Title</p>

@*<p>@MovieDetail</p>*@